/* arrow up (to page top) */
div.top {
    width:100px;
    padding: 0 30px 0 0;
    margin:0;
}

div.top img {
    width: 11px;
    height: 11px;
    border-style: none;
    float:left;
}

.paragraph p{
    text-align: justify;
}

.paragraph table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

.paragraph th td{
    text-align: left;
    padding: 8px;
    vertical-align: top;
}

.paragraph tr:nth-child(even){
    background-color: #f2f2f2
}

.paragraph strong{
    font-weight: bold;
}

.paragraph dd{
    text-align: justify;
}

.imgrid {
    width: 100%;
    height: auto;
    padding:20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
    grid-gap: 1em;
}

.clhydoc-listing {
    position: relative;
}
  
.clhydoc-image {
    line-height: 0;
    overflow: hidden;
}
  
.clhydoc-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}
  
.clhydoc-title {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(139,69,19,0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.clhydoc-listing:hover .clhydoc-title {
    opacity: 1;
}
  
.clhydoc-listing:hover .clhydoc-image img {
    filter: blur(0px);
}

@media (hover: none) {
    .clhydoc-title {
      opacity: 1;
    }
    .clhydoc-image img {
      filter: blur(0px);
    }
}

.code-inner{
    font-size:.7em;
    background-color:#DDA0DD;
    padding:.075rem .25rem .125rem;
    border-radius:.2rem;
    font-family:"Lucida Console", Monaco, monospace;
}

.fplink{
	color:#ccc;
	text-decoration:underline;
}

.fplink:hover{
	color:#fff;
}

.warning{
    width:95%;
    text-align:justify;
    margin: 10px auto 0 auto;
    background-color: #CD5C5C;
    padding:0 10px 10px 10px;
    border-radius:5px;
    color:#ccc;
    border: 1px solid #8B0000;
}

.indent{
    padding-left:25px;
}
