@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url('../font/cuprum/cuprum-v10-latin-regular.eot');
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
         url('../font/cuprum/cuprum-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/cuprum/cuprum-v10-latin-regular.woff2') format('woff2'),
         url('../font/cuprum/cuprum-v10-latin-regular.woff') format('woff'),
         url('../font/cuprum/cuprum-v10-latin-regular.ttf') format('truetype'),
         url('../font/cuprum/cuprum-v10-latin-regular.svg#Cuprum') format('svg');
  }
  
@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: url('../font/cuprum/cuprum-v10-latin-italic.eot');
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
         url('../font/cuprum/cuprum-v10-latin-italic.eot?#iefix') format('embedded-opentype'),
         url('../font/cuprum/cuprum-v10-latin-italic.woff2') format('woff2'),
         url('../font/cuprum/cuprum-v10-latin-italic.woff') format('woff'),
         url('../font/cuprum/cuprum-v10-latin-italic.ttf') format('truetype'),
         url('../font/cuprum/cuprum-v10-latin-italic.svg#Cuprum') format('svg');
  }
  
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: url('../font/cuprum/cuprum-v10-latin-700.eot');
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
         url('../font/cuprum/cuprum-v10-latin-700.eot?#iefix') format('embedded-opentype'),
         url('../font/cuprum/cuprum-v10-latin-700.woff2') format('woff2'),
         url('../font/cuprum/cuprum-v10-latin-700.woff') format('woff'),
         url('../font/cuprum/cuprum-v10-latin-700.ttf') format('truetype'),
         url('../font/cuprum/cuprum-v10-latin-700.svg#Cuprum') format('svg');
}  

@font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 700;
    src: url('../font/cuprum/cuprum-v10-latin-700italic.eot');
    src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
         url('../font/cuprum/cuprum-v10-latin-700italic.eot?#iefix') format('embedded-opentype'),
         url('../font/cuprum/cuprum-v10-latin-700italic.woff2') format('woff2'),
         url('../font/cuprum/cuprum-v10-latin-700italic.woff') format('woff'),
         url('../font/cuprum/cuprum-v10-latin-700italic.ttf') format('truetype'),
         url('../font/cuprum/cuprum-v10-latin-700italic.svg#Cuprum') format('svg');
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../font/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../font/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

  /* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../font/roboto-v19-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('../font/roboto-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-v19-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../font/roboto-v19-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../font/roboto-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-v19-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-v19-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
  
/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../font/roboto-mono-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
         url('../font/roboto-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-mono-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-mono-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-mono-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-mono-v6-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* roboto-mono-500 - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../font/roboto-mono-v6-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
         url('../font/roboto-mono-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-mono-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-mono-v6-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-mono-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-mono-v6-latin-500.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

body,html{height:100%}*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}html{-webkit-box-sizing:border-box;box-sizing:border-box;font-family:Cuprum,sans-serif;font-size:1.1em;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}@media screen and (min-width:1024px){html{font-size:1.2em}}body{color:#222;line-height:1.6;margin:0}a{text-decoration:none}a:hover{text-decoration:underline}code,kbd,pre{font-family:"Lucida Console", Monaco, monospace}b,dt,strong,th{font-weight:500}@media screen and (min-width:1024px){.main-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex}.main{-webkit-box-flex:1;-ms-flex:auto;flex:auto;min-width:0}}.navigation-container{display:none;position:fixed;top:3.25rem;left:0;width:100%;font-size:.9375rem;z-index:1}.navigation-container.is-active{display:block}@media screen and (min-width:769px){.navigation-container{width:16rem;font-size:.875rem}}@media screen and (min-width:1024px){.navigation-container{font-size:.8125rem;-webkit-box-flex:0;-ms-flex:none;flex:none;display:block;position:static;top:0}}.navigation{background-color:#fafafa;position:relative;top:2.5rem;height:calc(100vh - 5.75rem)}@media screen and (min-width:769px){.navigation{-webkit-box-shadow:.5px 0 3px #c1c1c1;box-shadow:.5px 0 3px #c1c1c1}}@media screen and (min-width:1024px){.navigation{top:3.25rem;-webkit-box-shadow:none;box-shadow:none;position:-webkit-sticky;position:sticky;height:calc(100vh - 3.25rem)}}.navigation .panels{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:inherit}html.is-clipped--nav{overflow-y:hidden}.navigation-menu{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;overflow-y:auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:calc(100vh - 8.25rem)}@media screen and (min-width:1024px){.navigation-menu{height:calc(100vh - 5.75rem)}}.navigation-menu:not(.is-active){display:none}.navigation-menu::-webkit-scrollbar{width:.25rem}.navigation-menu::-webkit-scrollbar-thumb{background-color:#c1c1c1}.nav-menu{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;min-height:0;width:100%;padding:.5rem .75rem;line-height:1.35;position:relative}.nav-menu h3.title{margin:0;font-weight:500;color:#424242;font-size:1em;padding:.25em 0 .125em}.nav-menu a,.nav-menu a:visited{color:inherit}.nav-list{margin:0 0 0 .8em;padding:0}.nav-menu>.nav-list{margin-bottom:.5rem}.nav-item{list-style:none;margin-top:.5em}.nav-toggle~.nav-list{padding-bottom:.125rem}.nav-item[data-depth="0"]>.nav-list:first-child{display:block;margin:0}.nav-item:not(.is-active)>.nav-list{display:none}.nav-toggle{background:transparent url(../images/caret.svg) no-repeat 50%;background-size:55%;border:none;cursor:pointer;outline:none;position:absolute;height:1.4em;width:1.5em;margin-left:-1.5em}.nav-toggle::-moz-focus-inner{border:none}.nav-item.is-active>.nav-toggle{-webkit-transform:rotate(90deg);transform:rotate(90deg)}.is-current-page>.nav-link,.is-current-page>.nav-text{font-weight:500}.navigation-explore{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.navigation-explore.is-active{height:inherit}.navigation-explore .context{-ms-flex-negative:0;flex-shrink:0;color:#5d5d5d;background-color:#fafafa;-webkit-box-shadow:0 -1px 0 #e1e1e1;box-shadow:0 -1px 0 #e1e1e1;padding:0 .25rem 0 .5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;cursor:pointer;line-height:1;font-size:.8125rem;height:2.5rem}@media screen and (min-width:1024px){.navigation-explore .context{font-size:.75rem}}.navigation-explore.is-active .context{-webkit-box-shadow:0 1px 0 #e1e1e1;box-shadow:0 1px 0 #e1e1e1}.navigation-explore .context .version{background-image:url(../images/chevron.svg);background-repeat:no-repeat;background-position:right .5rem top 50%;background-size:auto .75em;padding:0 1.5rem 0 0}.navigation-explore .components{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-shadow:inset 0 1px 5px #e1e1e1;box-shadow:inset 0 1px 5px #e1e1e1;background-color:#f0f0f0;padding:.5rem;margin:0;overflow-y:auto;max-height:100%;display:block}.navigation-explore:not(.is-active) .components{display:none}.navigation-explore .component{display:block}.navigation-explore .component+.component{margin-top:.5rem}.navigation-explore .component .title{font-weight:500}.navigation-explore .versions{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;list-style:none;padding-left:.5rem}.navigation-explore .component .version{display:block;font-size:.9375em}.navigation-explore .component .version a{border:1px solid #b0b0b0;border-radius:.25em;color:#4a4a4a;white-space:nowrap;padding:.05em .25em 0}.navigation-explore .component .is-current a{border-color:#4a4a4a;font-weight:500}.navigation-explore .component .version+.version{padding-left:.375em}.toolbar{color:#5d5d5d;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#fafafa;-webkit-box-shadow:0 1px 0 #e1e1e1;box-shadow:0 1px 0 #e1e1e1;display:-webkit-box;display:-ms-flexbox;display:flex;font-size:.75rem;height:2.5rem;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;position:-webkit-sticky;position:sticky;top:3.25rem;z-index:1}.toolbar a,.toolbar a:visited{color:inherit}.navigation-toggle{background:url(../images/menu.svg) no-repeat 50% 47.5%;background-size:49%;border:none;outline:none;cursor:pointer;display:block;height:2.5rem;padding:0;width:2.5rem;margin-right:-.25rem}.navigation-toggle::-moz-focus-inner{border:none}@media screen and (min-width:1024px){.navigation-toggle{display:none}}.navigation-toggle.is-active{background-image:url(../images/back.svg);background-size:41.5%}.home-link{background:url(../images/home-o.svg) no-repeat 50% 45%;background-size:50%;display:block;height:2.5rem;padding:0;width:2.5rem}.home-link.is-current,.home-link:hover{background-image:url(../images/home.svg)}.rnmenu{display:none;padding-right:.5rem}@media screen and (min-width:1024px){.rnmenu{display:block}}.toolbar .rnmenu a{color:#8e8e8e}.crumbs{display:none;-webkit-box-flex:1;-ms-flex:1 1;flex:1 1;padding:0 .5rem 0 .75rem;line-height:1.35;-webkit-hyphens:none;-ms-hyphens:none;hyphens:none}@media screen and (min-width:1024px){.crumbs{display:block}}a+.crumbs{padding-left:.05rem}.crumbs ul{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0;padding:0;list-style:none}.crumbs li{display:inline;margin:0}.crumbs li:after{content:"/";padding:0 .5rem}.crumbs li:last-of-type:after{content:none}.page-versions{display:none;margin-right:.7rem;position:relative}@media screen and (min-width:1024px){.page-versions{display:block}}.page-versions.is-active{color:#333}.page-versions .versions-menu-toggle{color:inherit;font-family:inherit;font-size:inherit;background:url(../images/chevron.svg) no-repeat;background-position:right .5rem top 50%;background-size:auto .75em;border:1px solid transparent;outline:none;cursor:pointer;padding:.35rem 1.5rem .35rem .5rem;position:relative;z-index:1}.page-versions .versions-menu-toggle::-moz-focus-inner{border:none}.page-versions .versions-menu{border:1px solid transparent;background-color:#f0f0f0;padding:1.3rem .5rem .35rem;position:absolute;top:0;left:0;width:100%}.page-versions:not(.is-active) .versions-menu{display:none}.page-versions .version{display:block;line-height:1;padding-top:.6em}.page-versions .version.is-current{display:none}.page-versions .version.is-missing{color:#8e8e8e;font-style:italic;text-decoration:none}.doc{margin:0 auto;max-width:40rem;padding:0 1rem 4rem;color:#333}@media screen and (min-width:1024px){.doc{margin:0 2rem;max-width:54rem}}.doc h1,.doc h2,.doc h3,.doc h4,.doc h5,.doc h6{color:#191919;font-weight:400;line-height:1.3;margin:1rem 0 0}.doc h3{font-weight:500}.doc h1>a.anchor,.doc h2>a.anchor,.doc h3>a.anchor,.doc h4>a.anchor,.doc h5>a.anchor,.doc h6>a.anchor{position:absolute;text-decoration:none;width:1.75ex;margin-left:-1.5ex;visibility:hidden;font-size:.8em;font-weight:400;padding-top:.05em}.doc h1>a.anchor:before,.doc h2>a.anchor:before,.doc h3>a.anchor:before,.doc h4>a.anchor:before,.doc h5>a.anchor:before,.doc h6>a.anchor:before{content:"\00a7"}.doc h1:hover>a.anchor,.doc h2:hover>a.anchor,.doc h3:hover>a.anchor,.doc h4:hover>a.anchor,.doc h5:hover>a.anchor,.doc h6:hover>a.anchor{visibility:visible}.doc a,.doc a:visited{color:#1565c0}.doc a:hover{color:#104d92}.doc i.fa{font-style:normal}.doc p code{font-size:.7em;background-color:#DDA0DD;padding:.075rem .25rem .125rem;border-radius:.2rem}.doc pre{font-size:.7rem;line-height:1.5;margin:0}.doc .colist,.doc .dlist,.doc .exampleblock,.doc .imageblock,.doc .listingblock,.doc .literalblock,.doc .olist,.doc .paragraph,.doc .sidebarblock,.doc .ulist,.doc .verseblock{margin:1rem 0 0}.doc table.tableblock{border-collapse:collapse;font-size:.8em;margin:2rem 0}.doc table.spread{width:100%}.doc table.tableblock td,.doc table.tableblock th{padding:.5rem}.doc table.tableblock th{border-bottom:2.5px solid #ddd}.doc table.tableblock td{border-top:1px solid #ddd;border-bottom:1px solid #ddd}.doc .halign-left{text-align:left}.doc .halign-right{text-align:right}.doc .halign-center{text-align:center}.doc .valign-top{vertical-align:top}.doc .valign-bottom{vertical-align:bottom}.doc .valign-middle{vertical-align:middle}.doc .tableblock p{font-size:inherit}.doc .admonitionblock{margin:1.4rem 0 0}.doc .admonitionblock p,.doc .admonitionblock td.content{font-size:.9rem}.doc .admonitionblock td.content>:first-child{margin:0}.doc .admonitionblock pre{font-size:.85rem}.doc .admonitionblock>table{border-collapse:collapse;table-layout:fixed;position:relative;width:100%}.doc .admonitionblock td.content{padding:1rem 1rem .75rem;background-color:#fafafa;width:100%}.doc .admonitionblock .icon{position:absolute;top:0;left:0;font-size:.75rem;padding:0 .5rem;height:1.25rem;line-height:1;font-weight:500;text-transform:uppercase;border-radius:.45rem;color:#fff;-webkit-transform:translate(-.5rem,-50%);transform:translate(-.5rem,-50%)}.doc .admonitionblock.caution .icon{background-color:#a0439c}.doc .admonitionblock.important .icon{background-color:#d32f2f}.doc .admonitionblock.note .icon{background-color:#217ee7}.doc .admonitionblock.tip .icon{background-color:#41af46}.doc .admonitionblock.warning .icon{background-color:#e18114}.doc .admonitionblock .icon i{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%}.doc .admonitionblock .icon i:after{content:attr(title);-webkit-hyphens:none;-ms-hyphens:none;hyphens:none}.doc .imageblock{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.doc .imageblock img{display:block}.doc .imageblock .title{color:#191919;font-style:italic;margin-top:.5rem}.doc .imageblock img,.doc .paragraph .image img{height:auto;max-width:100%}.doc>h1{font-size:2rem;margin:2rem 0 1.5rem}#preamble+.sect1,.doc .sect1+.sect1{margin-top:2.5rem}.doc h2:not(.discrete){border-bottom:1px solid #ddd;margin-left:-1rem;margin-right:-1rem;padding:.4rem 1rem .1rem}.doc p{font-size:.95rem;margin:0}.doc .content,.doc .tableblock,.doc p{-webkit-hyphens:auto;-ms-hyphens:auto;hyphens:auto}#preamble .abstract blockquote{background-color:#f0f0f0;border-left:5px solid #ddd;color:#4a4a4a;font-size:.9em;margin:0;padding:.75em 1em}.doc table.tableblock .paragraph{margin:0;padding:0}.doc .olist .admonitionblock,.doc .ulist .admonitionblock,.doc table.tableblock .admonitionblock{padding:0}.doc ol,.doc ul{margin:0;padding:0 0 0 2rem}.doc ul.checklist{padding-left:.5rem;list-style:none}.doc ul.checklist p>i.fa-check-square-o:first-child,.doc ul.checklist p>i.fa-square-o:first-child{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:1.25rem}.doc ul.checklist i.fa-check-square-o:before{content:"\2713"}.doc ul.checklist i.fa-square-o:before{content:"\274f"}.doc .dlist .dlist,.doc .dlist .olist,.doc .dlist .ulist,.doc .olist .dlist,.doc .olist .olist,.doc .olist .ulist,.doc .ulist .dlist,.doc .ulist .olist,.doc .ulist .ulist{margin-top:.5rem}.doc .olist li,.doc .ulist li{margin-bottom:.5rem}.doc .admonitionblock .listingblock,.doc .olist .listingblock,.doc .ulist .listingblock{padding:0}.doc .admonitionblock .title,.doc .exampleblock .title,.doc .listingblock .title,.doc .literalblock .title,.doc .openblock .title{color:#191919;font-size:.925rem;font-style:italic;letter-spacing:-.005em;padding-bottom:.075rem}.doc .admonitionblock .title+.paragraph{margin-top:0}.doc .exampleblock>.content{background-color:#fff;-webkit-box-shadow:inset 0 0 1.75px #248232;box-shadow:inset 0 0 1.75px #248232;padding:.75rem}.doc .exampleblock>.content>:first-child{margin-top:0}.doc .sidebarblock{background-color:#ebebeb;padding:.75rem 1.5rem}.doc .sidebarblock>.content>.title{color:#191919;font-size:1.2rem;font-weight:500;line-height:1.3;text-align:center}.doc .sidebarblock>.content>:not(.title):first-child{margin-top:0}.doc .listingblock.wrap pre,.doc .tableblock pre{white-space:pre-wrap}.doc pre.highlight code,.doc pre:not(.highlight){background-color:#998;border:1px solid #5d5d5d;border-radius:5px;-webkit-box-shadow:inset 0 0 1.75px #ddd;box-shadow:inset 0 0 1.75px #ddd;display:block;overflow-x:auto;padding:.75rem}.doc pre.highlight{position:relative}.doc .listingblock code[data-lang]:before{content:attr(data-lang);display:none;color:#8e8e8e;font-size:.75em;font-weight:500;letter-spacing:.05em;line-height:1;text-transform:uppercase;position:absolute;top:.25rem;right:.5rem}.doc .listingblock:hover code[data-lang]:before{display:block}.doc .dlist dt{color:#4a4a4a;font-style:italic}.doc .dlist dd{margin:0 0 .3rem 1.5rem}.doc .conum[data-value]{border:1px solid #404040;border-radius:100%;display:inline-block;font-family:Cuprum,sans-serif;font-size:.75rem;font-style:normal;height:1.25em;line-height:1.2;text-align:center;width:1.25em;letter-spacing:-.25ex;text-indent:-.25ex}.doc .conum[data-value]:after{content:attr(data-value)}.doc .conum[data-value]+b{display:none}.doc .colist{font-size:.95rem}.doc .colist>table tr>td:first-of-type{padding:0 .75em;line-height:1}b.button{white-space:nowrap}b.button:before{content:"[";padding-right:.25em}b.button:after{content:"]";padding-left:.25em}kbd{display:inline-block;font-size:.7rem;background-color:#fafafa;border:1px solid #c1c1c1;border-radius:.25em;-webkit-box-shadow:0 1px 0 #c1c1c1,0 0 0 .1em #fff inset;box-shadow:0 1px 0 #c1c1c1,inset 0 0 0 .1em #fff;padding:.25em .5em;vertical-align:text-bottom;white-space:nowrap}.keyseq,kbd{line-height:1}.keyseq{font-family:Cuprum,monospace;font-size:.9em}.keyseq kbd{margin:0 .125em}.keyseq kbd:first-child{margin-left:0}.keyseq kbd:last-child{margin-right:0}.menuseq i.caret:before{content:">";font-weight:500}html.is-clipped--navbar{overflow-y:hidden}body{padding-top:3.25rem}.navbar{background-image:url(../images/moin-header-background.jpg);font-size:.83333rem;height:3.25rem;position:fixed;top:0;width:100%;word-wrap:break-word;z-index:2}.navbar a{text-decoration:none}.navbar-brand .navbar-item:first-child,.navbar-brand .navbar-item:first-child a{color:#fff;font-size:1.15rem}.navbar-brand .separator{padding:0 .375rem}@media screen and (min-width:1024px){.navbar-end .navbar-link,.navbar-end>.navbar-item{color:#fff}.navbar-end .navbar-link:hover,.navbar-end>a.navbar-item:hover{background-color:#000;color:#fff}.navbar-end .navbar-link:after{border-color:#fff}.navbar-item.has-dropdown:hover .navbar-link{background-color:#000;color:#fff}}.navbar-brand{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-negative:0;flex-shrink:0;height:3.25rem}.navbar-burger{color:#fff;background:none;border:none;outline:none;cursor:pointer;display:block;height:3.25rem;position:relative;width:2.75rem;margin-left:auto;padding:0}.navbar-burger::-moz-focus-inner{border:none}.navbar-burger span{background-color:#fff;display:block;height:1px;left:50%;margin-left:-7px;position:absolute;top:50%;width:15px}.navbar-burger span:first-child{margin-top:-6px}.navbar-burger span:nth-child(2){margin-top:-1px}.navbar-burger span:nth-child(3){margin-top:4px}.navbar-burger.is-active span:first-child{margin-left:-5px;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:left top;transform-origin:left top}.navbar-burger.is-active span:nth-child(2){opacity:0}.navbar-burger.is-active span:nth-child(3){margin-left:-5px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:left bottom;transform-origin:left bottom}.navbar-menu{display:none}.navbar-item,.navbar-link{color:#222;display:block;line-height:1.5;padding:.5rem 1rem;position:relative}.navbar-item{-webkit-box-flex:0;-ms-flex:none;flex:none}.navbar-item.has-dropdown{padding:0}.navbar-item .icon{width:1.1rem;height:1.1rem;display:block}.navbar-link{padding-right:2.5em}.navbar-dropdown{font-size:.875rem}.navbar-dropdown .navbar-item{padding-left:1.5rem;padding-right:1.5rem}.navbar-divider{background-color:#e1e1e1;border:none;height:1px;margin:.25rem 0}@media screen and (max-width:1023px){.navbar-brand .navbar-item{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex}.navbar-menu{background-color:#fff;padding:.5rem 0}.navbar-menu.is-active{display:block;-webkit-box-shadow:0 8px 16px hsla(0,0%,4%,.1);box-shadow:0 8px 16px hsla(0,0%,4%,.1);max-height:calc(100vh - 3.25rem);overflow-y:auto}.navbar-menu .navbar-link:hover,.navbar-menu a.navbar-item:hover{background-color:#fafafa}}@media screen and (min-width:1024px){.navbar,.navbar-end,.navbar-menu{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;display:-webkit-box;display:-ms-flexbox;display:flex}.navbar-burger{display:none}.navbar-item,.navbar-link{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex}.navbar-item.has-dropdown{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}.navbar-item.is-hoverable:hover .navbar-dropdown{display:block}.navbar-link:after{border-width:0 0 1px 1px;border-style:solid;content:" ";display:block;height:.5em;pointer-events:none;position:absolute;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);width:.5em;margin-top:-.375em;right:1.125em;top:50%}.navbar-menu{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.navbar-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;margin-left:auto}.navbar-dropdown{background-color:#fff;border:1px solid #e1e1e1;display:none;font-size:.875rem;top:100%;left:0;min-width:100%;position:absolute}.navbar-dropdown .navbar-item{padding:.5rem 1rem;white-space:nowrap}.navbar-dropdown a.navbar-item{padding-right:3rem}.navbar-dropdown.is-right{left:auto;right:0}.navbar-dropdown a.navbar-item:hover{background-color:#fafafa}}.navbar .button{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:#FF8C00;border:1px solid #FFA500;border-radius:.20rem;height:1.75rem;color:#333;padding:0 .75em;white-space:nowrap}footer.footer{font-family:Cuprum;font-size:.85rem;background-color:#001900;color:#8e8e8e;padding:.5rem 1rem}.footer p{margin:.5rem 0}.footer a{color:#5d5d5d}

/*! GitHub style for highlight.js (c) Vasily Polovnyov <vast@whiteants.net> */.hljs-comment,.hljs-quote{color:#998;font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333;font-weight:500}.hljs-literal,.hljs-number,.hljs-tag .hljs-attr,.hljs-template-variable,.hljs-variable{color:teal}.hljs-doctag,.hljs-string{color:#d14}.hljs-section,.hljs-selector-id,.hljs-title{color:#900;font-weight:500}.hljs-subst{font-weight:400}.hljs-class .hljs-title,.hljs-type{color:#458;font-weight:500}.hljs-attribute,.hljs-name,.hljs-tag{color:navy;font-weight:400}.hljs-link,.hljs-regexp{color:#009926}.hljs-bullet,.hljs-symbol{color:#990073}.hljs-built_in,.hljs-builtin-name{color:#0086b3}.hljs-meta{color:#999;font-weight:500}.hljs-deletion{background:#fdd}.hljs-addition{background:#dfd}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:500}